language = "nodejs"
run = "npm run start"
modules = ["nodejs-20", "web"]

[deployment]
run = ["sh", "-c", "npm run start"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 8080
externalPort = 80